@{
    ViewData["Title"] = "Home Page";
}
@for(int i=1;i<3;i++){

}
<!-- One -->
	<section id="one">
		<div class="image main" data-position="center">
			<img src="/html5up-read-only/images/banner.jpg" alt="" />
		</div>
		<div class="container">
			<header class="major">
				<h2>Seconda Web</h2><br>
				<p>Un incredibile sito che ti permette di fare tantissime cose</p>
				<!--template freebie by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
			</header>
			<!--<p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p>-->
			<p>Questo sito è stato realizzato nel secondo quadrimestre dell'anno scolastico 2020/21 dalla classe 5H del Itts Belluzzi-da Vinci</p>
		</div>
	</section>

<!-- Two -->
	<section id="two">
		<div class="container">
			<h3>Cosa puoi fare</h3>
			<p>In questa sezione puoi trovare tutto quello che puoi prenotare nel nostro sito</p>
			<ul class="feature-icons">
				<li class="icon solid fa-code">Aiuto programmatore</li>
				<li class="icon solid fa-cubes">Scatole a sorpresa</li>
				<li class="icon solid fa-book">Libri digitali</li>
				<li class="icon solid fa-coffee">Caffè a domicilio</li>
				<li class="icon solid fa-bolt">Fotografie mozzafiato</li>
				<li class="icon solid fa-users">Assistenza per quello che serve</li>
			</ul>
		</div>
	</section>

<!-- Three -->
	<section id="three">
		<div class="container">
			<h3>Le nostre miglioni immagini</h3>
			<!--<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>-->
			<p>In questa sezione troverete tantissime foto inutili che non c'entrano nulla con il nostro lavoro, ma sono abbastanza belle :)</p>
			<div class="features">
				<article>
					<a href="#" class="image"><img src="/html5up-read-only/images/pic01.jpg" alt="" /></a>
					<div class="inner">
							<h4>In felpa al mare</h4>
							<p>In questa foto possiamo trovare una persona che passeggia al mare in inverno con il suo bel cappuccio</p>
					</div>
				</article>
				<article>
					<a href="#" class="image"><img src="/html5up-read-only/images/pic02.jpg" alt="" /></a>
					<div class="inner">
						<h4>La nebbia al mare</h4>
						<p>In inverno il mare si traforma in un paesaggio agitato e tempestato che però trasmette comunque un senso di pace, con la nebbia diventa misterioso perchè il marinaio non sa cosa troverà davanti. Questa foto rappresenta alla perfezione queste emozioni.</p>
					</div>
				</article>
				<article>
					<a href="#" class="image"><img src="/html5up-read-only/images/pic03.jpg" alt="" /></a>
					<div class="inner">
						<h4>Materia oscura spezzata in natura</h4>
						<p>Un sacco di cose da fare sul portico davanti al football, siediti in piedi nelle cure e soffoca l'intero film di football universitario.</p>
					</div>
				</article>
			</div>
		</div>
	</section>
<!-- Four -->
	<section id="four">
		<div class="container">
			<h3>Contact Me</h3>
			<p>L'intero portico anteriore, seduto in posizione verticale nel film di calcio battitore non lo farà, si preoccuperà e soffoca. È importante sottolineare che l'elemento del parco giochi è intatto. Un intero calcio al battitore del film di calcio.</p>
			<form method="post" action="#">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
					<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
					<div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
					<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" class="primary" value="Send Message" /></li>
							<li><input type="reset" value="Reset Form" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>